/* HeroSection.css */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    animation: fadeIn 2s ease-in;
}

.hero-section .text {
    max-width: 50%;
    animation: slideInLeft 1s ease-in-out;
}

.hero-section .image {
    max-width: 50%;
    animation: slideInRight 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}